.pagination {
    li.active {
        span {
            background: #008CBA;
            color: #FFFFFF;
            border-radius: 3px;
            transition: background-color 300ms;
            padding: 0.05556rem 0.55556rem 0.05556rem;
        }
    }

    li.disabled {
        span {
            padding: 0.05556rem 0.55556rem 0.05556rem;
        }
    }
}